<!-- extend base layout -->
{% extends "base.html" %}
{% block content %}
  <h2>
    The command center welcomes it's overlord,
    {% if not sudo %}
      {{ admin.username }}
    {% else %}
      SUDO
    {% endif %}
  </h2>
  <h3>Create User</h3>
  <form action="" method="post" name="login">
      {{ form.hidden_tag() }}
      <table>
        <tr>
          <td>New username:</td>
          <td>
            {{ form.username(size=40) }}
          </td>
        </tr>
          {% for error in form.username.errors %}
            <span style="color: red;">[{{error}}]</span>
          {% endfor %}
        <tr>
          <td>New password</td>
          <td>
          {{ form.password_creation(size=40) }}
          </td>
          {% for error in form.password_creation.errors %}
            <span style="color: red;">[{{error}}]</span>
          {% endfor %}
        </tr>
      </table>
      <p><input type="submit" value="Create New User"></p>
  </form>
  <h3>Current List of All Users:</h3>
  <table>
    <tr>
      <th>User ID</th>
      <th>username</th>
      <th>password</th>
      <th>Last Login</th>
    </tr>
    {% for user in users %}
    <tr>
      <td>{{ user.id }}</td>
      <td>{{ user.username }}</td>
      <td>{{ user.password }}</td>
      <td>{{ user.last_seen }}</td>
    </tr>
    {% endfor %}
  </table>
{% endblock %}
