<!--
Base layer of all pages on site. Contains:
Nav bar:
Flashed Message handling: ????
Block content call rendered by specific html page:
-->
<html>
  <head>
    {% if title %}
    <title>{{ title }} - Pierce's Test Blog</title>
    {% else %}
    <title>Welcome to Pierce's Test Blog</title>
    {% endif %}
  </head>
  <body>
    <!-- nav bar with link to page -->
    <div>Microblog:
      <a href="{{ url_for('home') }}">Home</a>
      | <a href="{{ url_for('login') }}">Login</a>
      {% if g.user.is_authenticated() %}
      | <a href="{{ url_for('logout') }}">Logout</a>
      {% endif %}
    </div>
    <hr>
    {% with messages = get_flashed_messages() %}
      {% if messages %}
        <ul>
        {% for message in messages %}
            <li>{{ message }} </li>
        {% endfor %}
        </ul>
      {% endif %}
    {% endwith %}
    {% block content %}{% endblock %}
  </body>
</html>
