<!-- extend base layout by defining block content-->
{% extends "base.html" %}

{% block content %}
<script type="text/javascript">
/*function set_openid(openid, pr)
// DEPRICATED CAUSE OPEN ID SUX:takes a url from the openid listed in config and generates a url
// based on that openid
{
    u = openid.search('<username>')
    if (u != -1) {
        // generate a popup box if selecting one of the OPENID_PROVIDERS
        // that require user specific info
        user = prompt('Enter your ' + pr + ' username:')
        openid = openid.substr(0, u) + user
    }
    form = document.forms['login'];
    form.elements['email'].value = openid
}*/
</script>
<body>

    <div class="container">

      <form class="form-signin">
        <h2 class="form-signin-heading">Please sign in</h2>
        <label for="inputEmail" class="sr-only">Email address</label>
        <input type="email" id="inputEmail" class="form-control" placeholder="Email address" required="" autofocus="">
        <label for="inputPassword" class="sr-only">Password</label>
        <input type="password" id="inputPassword" class="form-control" placeholder="Password" required="">
        <div class="checkbox">
          <label>
            <input type="checkbox" value="remember-me"> Remember me
          </label>
        </div>
        <button class="btn btn-lg btn-primary btn-block" type="submit">Sign in</button>
      </form>

    </div> <!-- /container -->


    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <script src="../../assets/js/ie10-viewport-bug-workaround.js"></script>


</body>
<div class="container">
  <link href="signin.css" rel="stylesheet">
  <styel type="css/style"></style>
<!--<form action="" method="post" name="login">-->
  <form class="form-signin" action="" method="post" name="login">
    <h2 class="form-signin-heading">Please sign in</h2>
    <label for="inputEmail" class="sr-only">Username</label>
    <input type="email" id="inputEmail" class="form-control" placeholder="Email address" required="" autofocus="">
    <label for="inputPassword" class="sr-only">Password</label>
    <input type="password" id="inputPassword" class="form-control" placeholder="Password" required="">
    <div class="checkbox">
      <label>
        <input type="checkbox" value="remember-me"> Remember me
      </label>
    </div>
      <button class="btn btn-lg btn-primary btn-block" type="submit">Sign in</button>
  </form>
  <form action="" method="post" name="login">
    {{ form.hidden_tag() }}
    <h2 class="form-signin-heading">Please sign in</h2>
    <label for="inputEmail" class="sr-only">Email address</label>
    <p>
        username<br>
        {{ form.username(size=40) }}
        {% for error in form.username.errors %}
          <span style="color: red;">[{{error}}]</span>
        {% endfor %}<br>
        password<br>
        {{ form.password(size=40) }}
        {% for error in form.password.errors %}
          <span style="color: red;">[{{error}}]</span>
        {% endfor %}<br>
        <!--DEPRICATED{% for pr in providers %}
          <a href="javascript:set_openid('{{ pr.url }}', '{{ pr.name }}');">{{ pr.name }}</a> |
        {% endfor %}-->
    </p>
    <p>Remember Me {{ form.remember_me }}</p>
    <p><input type="submit" value="Sign In"></p>
  </form>
</div>
{% endblock %}
